<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TravelSiteLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TravelSiteLibrary.Properties.Settings>
            <setting name="TravelSiteLibrary_CarWebServiceClass_RentalCarService"
                serializeAs="String">
                <value>http://cis-iis2.temple.edu/Spring2018/CIS3342_tug34927/TermProjectWS/RentalCarService.asmx</value>
            </setting>
            <setting name="TravelSiteLibrary_CarWebService2_CarService" serializeAs="String">
                <value>http://cis-iis2.temple.edu/Spring2018/CIS3342_tuf45882/TermProjectWS/CarService.asmx</value>
            </setting>
        </TravelSiteLibrary.Properties.Settings>
    </applicationSettings>
</configuration>